.box_tables>table th {
    border:1px solid rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    background-color:aqua;
}
.box_tables>table td {
    border:1px solid rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}